<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
</head>
<body>

<ul>
<% for (var i = 0; i < givemeanamehere.length; i++) { %>
<li><a href="/black/<%= i  %>"><%= givemeanamehere[i].name %></a></li>
<% }; %>
</ul>

</body>
</html>