<!DOCTYPE html>
<html>
<head>
	<title>NEW</title>
</head>
<body>

<form method="POST" action="/soldier">
	<input type="text" name="name" placeholder="Name of Soldier">
	<input type="text" name="callSign" placeholder="Call Sign">
	<input type="text" name="squadron" placeholder="Squadron">
	<input type="text" name="id" placeholder="ID">
	<input type="submit">
</form>

</body>
</html>