<!DOCTYPE html>
<html>
<head>
	<title>SHOW</title>
</head>
<body>

<p>Name: <%= soldier.name %></p>
<p>Squadron: <%= soldier.squadron %></p>
<p>Id: <%= soldier.id %></p>
<p>Call Sign: <%= soldier.callSign %></p>

<p><a href="/black">Back</a></p>

</body>
</html>