<form method="POST" action="/sessions" class="new-session pure-form">
  <label for="name">Username:</label>
  <input type="text" name="name" id="user_name" placeholder="Username">
  <label for="password">Password:</label>
  <input type="password" name="password" id="user_password" placeholder="Password">
  <button class="pure-button pure-button-primary">Log In</button>
</form>
