<h1>Sign up!</h1>

<form method="POST" action="/users" class="new-user pure-form pure-form-aligned">

  <div class="pure-control-group">
    <label for="user_name">Username</label>
    <input type="text" id="user_name" name="name" placeholder="Username">
  </div>
  <div class="pure-control-group">
    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="password" placeholder="Password">
  </div>
  <div class="pure-control-group">
    <label for="user_password_confirmation">Password Confirmation</label>
    <input type="password" id="user_password_confirmation" name="password_confirmation" placeholder="Password Confirmation">
  </div>
  <div class="pure-control-group">
    <label for="user_born_on">Born On</label>
    <input type="date" id="user_born_on" name="born_on">
  </div>
  <div class="pure-control-group">
    <label for="user_location">Location</label>
    <input type="text" id="user_location" name="location" placeholder="Your location">
  </div>
  <div class="pure-control-group">
    <label for="user_avatar_img_url">Avatar Img Url</label>
    <input type="text" id="user_avatar_img_url" name="avatar_img_url" placeholder="Avatar Image URL!">
  </div>

  <div class="pure-controls">
    <button class="pure-button pure-button-primary">Sign up</button>
  </div>

</form>

<script src="/js/validate-user-form.js"></script>
