<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form method="POST" action="/burrito">
	<input type="text" name="burrito" placeholder="Your Burrito Name">
	<input type="submit">
</form>

</body>
</html>