<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>

<h1>NEW</h1>

<form method="POST" action="/new">
	<input type="text" name="squadron[squadron]" value="<%= squadron.name %>">
    <input type="submit" value="insert">	
</form>

</body>
</html>