<form action="/sessions" method="POST">
  <label for="name">Username:</label>
  <input type="text" name="name" id="name" placeholder="Your username!">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <button>Log In</button>
</form>