<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Titanic</title>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="main.js"></script>
</head>
<body>

  <a href="#" id="disaster-strikes">LOOK OUT!!</a>

</body>

</html>

