<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Titanic</title>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="main.js"></script>
</head>
<body>

  <h1>Titanic</h1>
  <a id="manifest" href="#">Manifest</a>
  <a href="/iceberg">ICEBERG!</a>

  <script id="passenger-temp" type="x-template">
    <li>{{name}}
    {{age}}
    {{hometown}}</li>
  </script>
</body>

</html>