<form method="POST" action="/add_entry">
<<<<<<< HEAD
<<<<<<< HEAD
  <!-- label for attributes should match up to input ids -->
  <label for="message">Message</label>
  <input type="text" name="message" id="message">

  <label for="email">Email</label>
  <input type="text" name="email">

=======
=======
>>>>>>> 59779278ed1d3b300a0f6812d7e6dd138a8cb23a

  <label for="message">Message</label>
  <input type="text" name="message" id="message">
  <label for="email">Email</label>
  <input type="text" name="email">
<<<<<<< HEAD
>>>>>>> 59779278ed1d3b300a0f6812d7e6dd138a8cb23a
=======
>>>>>>> 59779278ed1d3b300a0f6812d7e6dd138a8cb23a
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <input type="submit" value="Create Entry">
</form>
