<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<<<<<<< HEAD
  <meta charset="utf-8">
  <title>Hotel Motel Holiday Inn</title>
=======
  <title></title>
>>>>>>> 59779278ed1d3b300a0f6812d7e6dd138a8cb23a
=======
  <title></title>
>>>>>>> 59779278ed1d3b300a0f6812d7e6dd138a8cb23a
</head>
<body>
  <%= yield %>
</body>
</html>
