<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello from Index</title>
  <script src="/jquery.js"></script>
  <script src="/main.js"></script>
</head>
<body>

  <h1>Hello from Index</h1>

  <a href="">Edit</a>

</body>
</html>

