<h1>Sign It!</h1>

<form method="POST" action="/stats_of_guest">
	<input name="name" placeholder="Your Name" type="text">
	<input name="message" placeholder="Your Message" type="text">
	<input type="submit">

</form>