<!DOCTYPE html>
<html>
<head>
	<title>CLOSET</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
</head>
<body>
	<h1>Header</h1>
	
	<script id="templatex" type="x-template">
  		<div>
		<button id="item-button">{{ clothing_type }}</button>
		</div>
	</script>

	<script>
	 $(document).ready(function(){
		$.ajax({
	      url: '/items',
	      type: 'GET',
	      dataType: 'json'
	    }).done(function(response){
	      var template = Handlebars.compile( $("#templatex").html() );
	      response.forEach(function(squad){
	      $('body').append( template(squad) );
	      });
	  	});
	  });
      </script>
</body>
</html>