<h1>Welcome to Hogwarts</h1>

<p><a href="./houses">See our Houses Here!</a></p>
<p><a href="./students">See our students Here!</a></p>

<form method="POST" action="/data">
<input name="name" type="text" placeholder="Create a Student">
<input name="start_year" type="text" placeholder="Current year">
<input type="submit" value="register">
</form>