#title {
	text-align: center;
	font-family: cursive;
}

#game-status {
	text-align: center;
	color: pink;
	font-size: 30px;
	height: 60px;
}

#game-board-grid {
	display: block; 
	margin: 0px auto;
	height: 400px;
	width: 400px;
	font-size: 110px;
	text-align: center;
}

#reset-container{
	width: 80px;
	margin: 50px auto;
}

.reset {
	background-color: pink;
	width: 80px;
}

.col-1-3 {
	float: left;
  	width: 33.33%;
  	height: 100%;
}

.rows {
	width: 100%;
	height: 33.33%;
}

.row-one, .row-two {
	border-bottom: 1px solid black;
}

.column-one, .column-two {
	border-right: 1px solid black;
}
.hello {
	color: blue;
}