<!DOCTYPE html>
<html>
<head>
	<title>Datas</title>
</head>
<body>
  <h1>Pretty Puppies</h1>
  <% dog_all.each do %>
  <p>Color: <%= dog_all[:color] %></p>
  <p>Size: <%= dog_all[:size] %></p>
  <p>Breed: <%= dog_all[:breed] %></p>
</body>
</html>