<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <script src="jquery.js"></script>
</head>
<body>

  <button id="leo-me">Leo Me</button>
  <button id="random-color">Random Color</button>
  <script src="main.js"></script>
</body>
</html>
