<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landmark.name %>
  <strong>Mile Marker:</strong>
  <%= @landmark.mile_marker %>
</p>

<%= link_to 'Back to Landmarks', landmarks_path %>
