<div class="container wrapper">
<div class="jumbotron jumbotronwhite">

<h1>Welcome to HitGif!</h1>

<p>We are a platform where you can delight youself in cool articles written by anyone in the world. </p>

<p>But wait... Isn't that wiki? Whats cool about it? </p>

<p>First, our articles are all about gifs!! As soon as you login, a random gif will be shown to you, and based on your interpretation of it, you can create an article of this Gif. You can see all articles versions of the same gif, compare different points of view from the respective authors, and even create your own version, or better... Update an existing version, with your own improvements!</p>

<p>To get started, all you need to do is sign up to our page by providing your name, email, your chosen username and password; Then you are ready to go! 

<p>Also, If you are a design oriented person and enjoy a well written, good looking text, you will love our markdown feature, where you can create articles that will look so good will be a hit!</p>


<p class="glyphicon glyphicon-star-empty"></p>
<p class="ss-facebook">&#xF610;</p>

</div>
</div>
