<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/randomword" method="POST">
    <input name="rando" type="text" placeholder="rando word goes here">
    <input type="submit">
  </form>
</body>
</html>