<h1>Add new sweet:</h1>
<form action="/sweets" method="POST">
  <input type="text" name="sweet_name">
  <input type="text" name="flavor">
  <input type="text" name="img_url">
  <button type="submit">Add new sweet!</button>
</form>
<a href="/">Back to home</a>