<form method="POST" action="/fanny_packs">
  <label for="fanny_color">Color</label>
  <input type="text" id="fanny_color" name="color">
  <label for="fanny_material">Material</label>
  <input type="text" id="fanny_material" name="material">
  <label for="fanny_img">Image URL</label>
  <input type="text" id="fanny_img" name="img_url">
  <input type="submit" value="Create">
</form>
